@import url(https://fonts.googleapis.com/css?family=Mulish:300,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-like:before {
  content: "\e900";
  color: #fff;
}

._icon-cart:before {
  content: "\e901";
  color: #fff;
}

._icon-treangle:before {
  content: "\e902";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Mulish";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  background: -o-linear-gradient(298.33deg, #373737 12.28%, #060606 86.6%);
  background: linear-gradient(151.67deg, #373737 12.28%, #060606 86.6%);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 0.625rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
}

@supports (min-height: clamp( 3.75rem , 2.7021640091rem  +  5.2391799544vw , 6.625rem )) {
  .header__container {
    min-height: clamp( 3.75rem , 2.7021640091rem  +  5.2391799544vw , 6.625rem );
  }
}

@supports not (min-height: clamp( 3.75rem , 2.7021640091rem  +  5.2391799544vw , 6.625rem )) {
  .header__container {
    min-height: calc(3.75rem + 2.875 * (100vw - 20rem) / 54.875);
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
}

@supports ((-moz-column-gap: clamp( 1.5625rem , -1.3076594533rem  +  14.3507972665vw , 9.4375rem )) or (column-gap: clamp( 1.5625rem , -1.3076594533rem  +  14.3507972665vw , 9.4375rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.5625rem , -1.3076594533rem  +  14.3507972665vw , 9.4375rem );
       -moz-column-gap: clamp( 1.5625rem , -1.3076594533rem  +  14.3507972665vw , 9.4375rem );
            column-gap: clamp( 1.5625rem , -1.3076594533rem  +  14.3507972665vw , 9.4375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , -1.3076594533rem  +  14.3507972665vw , 9.4375rem )) or (column-gap: clamp( 1.5625rem , -1.3076594533rem  +  14.3507972665vw , 9.4375rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.5625rem + 7.875 * (100vw - 20rem) / 54.875);
       -moz-column-gap: calc(1.5625rem + 7.875 * (100vw - 20rem) / 54.875);
            column-gap: calc(1.5625rem + 7.875 * (100vw - 20rem) / 54.875);
  }
}

.menu__link {
  line-height: 87%;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 0.9375rem , 0.8691628702rem  +  0.3416856492vw , 1.125rem )) {
  .menu__link {
    font-size: clamp( 0.9375rem , 0.8691628702rem  +  0.3416856492vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8691628702rem  +  0.3416856492vw , 1.125rem )) {
  .menu__link {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 54.875);
  }
}

.menu__link:hover {
  text-shadow: 0px 0px 20px #FFFFFF;
  color: #FFFFFF;
  opacity: 1;
}

.links-header {
  position: relative;
  z-index: 5;
}

.links-header__like::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 1.03125rem;
}

.links-header__like:hover::before {
  text-shadow: 0px 0px 20px #FFFFFF;
}

.links-header ._active::before {
  font-weight: 700;
  text-shadow: 0px 0px 10px #E0E3C6;
  color: #E0E3C6;
}

.links-header__bag {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 1.25rem;
}

.links-header__bag:hover {
  text-shadow: 0px 0px 20px #FFFFFF;
}

.icon-menu {
  display: none;
}

.page__headphoness {
  background: -o-linear-gradient(298.33deg, #373737 12.28%, #060606 86.6%);
  background: linear-gradient(151.67deg, #373737 12.28%, #060606 86.6%);
  padding-bottom: 48px;
}

@supports (padding-top: clamp( 5.625rem , 4.6682801822rem  +  4.7835990888vw , 8.25rem )) {
  .page__headphoness {
    padding-top: clamp( 5.625rem , 4.6682801822rem  +  4.7835990888vw , 8.25rem );
  }
}

@supports not (padding-top: clamp( 5.625rem , 4.6682801822rem  +  4.7835990888vw , 8.25rem )) {
  .page__headphoness {
    padding-top: calc(5.625rem + 2.625 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__container {
  position: relative;
}

.headphoness__decor-ibg {
  position: absolute;
  top: -133px;
}

@supports (width: clamp( 9.375rem , 5.4342255125rem  +  19.7038724374vw , 20.1875rem )) {
  .headphoness__decor-ibg {
    width: clamp( 9.375rem , 5.4342255125rem  +  19.7038724374vw , 20.1875rem );
  }
}

@supports not (width: clamp( 9.375rem , 5.4342255125rem  +  19.7038724374vw , 20.1875rem )) {
  .headphoness__decor-ibg {
    width: calc(9.375rem + 10.8125 * (100vw - 20rem) / 54.875);
  }
}

@supports (height: clamp( 6.25rem , 3.0153758542rem  +  16.1731207289vw , 15.125rem )) {
  .headphoness__decor-ibg {
    height: clamp( 6.25rem , 3.0153758542rem  +  16.1731207289vw , 15.125rem );
  }
}

@supports not (height: clamp( 6.25rem , 3.0153758542rem  +  16.1731207289vw , 15.125rem )) {
  .headphoness__decor-ibg {
    height: calc(6.25rem + 8.875 * (100vw - 20rem) / 54.875);
  }
}

@supports (right: clamp( 1.25rem , -1.1417995444rem  +  11.9589977221vw , 7.8125rem )) {
  .headphoness__decor-ibg {
    right: clamp( 1.25rem , -1.1417995444rem  +  11.9589977221vw , 7.8125rem );
  }
}

@supports not (right: clamp( 1.25rem , -1.1417995444rem  +  11.9589977221vw , 7.8125rem )) {
  .headphoness__decor-ibg {
    right: calc(1.25rem + 6.5625 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__decor-ibg img {
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}

.headphoness__decor-ibg img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.headphoness__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.5082574032rem  +  6.8337129841vw , 5.625rem )) or (column-gap: clamp( 1.875rem , 0.5082574032rem  +  6.8337129841vw , 5.625rem ))) {
  .headphoness__body {
    -webkit-column-gap: clamp( 1.875rem , 0.5082574032rem  +  6.8337129841vw , 5.625rem );
       -moz-column-gap: clamp( 1.875rem , 0.5082574032rem  +  6.8337129841vw , 5.625rem );
            column-gap: clamp( 1.875rem , 0.5082574032rem  +  6.8337129841vw , 5.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.5082574032rem  +  6.8337129841vw , 5.625rem )) or (column-gap: clamp( 1.875rem , 0.5082574032rem  +  6.8337129841vw , 5.625rem ))) {
  .headphoness__body {
    -webkit-column-gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 54.875);
       -moz-column-gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 54.875);
            column-gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__image-ibg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.76%;
          flex: 0 1 34.76%;
  min-height: 51.4554%;
  min-height: 601px;
}

.headphoness__image-ibg img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}

.headphoness__image-ibg img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.headphoness__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.7979%;
          flex: 0 1 51.7979%;
}

.headphoness__title {
  font-weight: 700;
  line-height: 87%;
  letter-spacing: -0.045em;
}

@supports (font-size: clamp( 1.75rem , 0.2010250569rem  +  7.7448747153vw , 6rem )) {
  .headphoness__title {
    font-size: clamp( 1.75rem , 0.2010250569rem  +  7.7448747153vw , 6rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 0.2010250569rem  +  7.7448747153vw , 6rem )) {
  .headphoness__title {
    font-size: calc(1.75rem + 4.25 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__title span {
  color: #E0E3C6;
}

@supports (margin-bottom: clamp( 1.25rem , 0.1793849658rem  +  5.3530751708vw , 4.1875rem )) {
  .headphoness__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.1793849658rem  +  5.3530751708vw , 4.1875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.1793849658rem  +  5.3530751708vw , 4.1875rem )) {
  .headphoness__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 2.9375 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__text {
  line-height: 130%;
  color: rgba(255, 255, 255, 0.6);
}

@supports (font-size: clamp( 0.75rem , 0.4766514806rem  +  1.3667425968vw , 1.5rem )) {
  .headphoness__text {
    font-size: clamp( 0.75rem , 0.4766514806rem  +  1.3667425968vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.4766514806rem  +  1.3667425968vw , 1.5rem )) {
  .headphoness__text {
    font-size: calc(0.75rem + 0.75 * (100vw - 20rem) / 54.875);
  }
}

@supports (margin-bottom: clamp( 1.4375rem , 0.298547836rem  +  5.69476082vw , 4.5625rem )) {
  .headphoness__text:not(:last-child) {
    margin-bottom: clamp( 1.4375rem , 0.298547836rem  +  5.69476082vw , 4.5625rem );
  }
}

@supports not (margin-bottom: clamp( 1.4375rem , 0.298547836rem  +  5.69476082vw , 4.5625rem )) {
  .headphoness__text:not(:last-child) {
    margin-bottom: calc(1.4375rem + 3.125 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 1.125rem , 0.8972095672rem  +  1.138952164vw , 1.75rem )) or (column-gap: clamp( 1.125rem , 0.8972095672rem  +  1.138952164vw , 1.75rem ))) {
  .headphoness__buttons {
    -webkit-column-gap: clamp( 1.125rem , 0.8972095672rem  +  1.138952164vw , 1.75rem );
       -moz-column-gap: clamp( 1.125rem , 0.8972095672rem  +  1.138952164vw , 1.75rem );
            column-gap: clamp( 1.125rem , 0.8972095672rem  +  1.138952164vw , 1.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.125rem , 0.8972095672rem  +  1.138952164vw , 1.75rem )) or (column-gap: clamp( 1.125rem , 0.8972095672rem  +  1.138952164vw , 1.75rem ))) {
  .headphoness__buttons {
    -webkit-column-gap: calc(1.125rem + 0.625 * (100vw - 20rem) / 54.875);
       -moz-column-gap: calc(1.125rem + 0.625 * (100vw - 20rem) / 54.875);
            column-gap: calc(1.125rem + 0.625 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  line-height: 99%;
  letter-spacing: -0.03em;
  background: -o-linear-gradient(182.78deg, #606153 -3.79%, #9A9B86 98.37%);
  background: linear-gradient(267.22deg, #606153 -3.79%, #9A9B86 98.37%);
  border-radius: 36.5px;
  -webkit-box-shadow: 0px 0px 30px rgba(145, 146, 126, 0.37);
          box-shadow: 0px 0px 30px rgba(145, 146, 126, 0.37);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (padding-top: clamp( 1.125rem , 0.9746583144rem  +  0.7517084282vw , 1.5375rem )) {
  .headphoness__button {
    padding-top: clamp( 1.125rem , 0.9746583144rem  +  0.7517084282vw , 1.5375rem );
  }
}

@supports not (padding-top: clamp( 1.125rem , 0.9746583144rem  +  0.7517084282vw , 1.5375rem )) {
  .headphoness__button {
    padding-top: calc(1.125rem + 0.4125 * (100vw - 20rem) / 54.875);
  }
}

@supports (padding-bottom: clamp( 1.125rem , 0.9746583144rem  +  0.7517084282vw , 1.5375rem )) {
  .headphoness__button {
    padding-bottom: clamp( 1.125rem , 0.9746583144rem  +  0.7517084282vw , 1.5375rem );
  }
}

@supports not (padding-bottom: clamp( 1.125rem , 0.9746583144rem  +  0.7517084282vw , 1.5375rem )) {
  .headphoness__button {
    padding-bottom: calc(1.125rem + 0.4125 * (100vw - 20rem) / 54.875);
  }
}

@supports (padding-right: clamp( 2.8125rem , 1.7578302961rem  +  5.2733485194vw , 5.70625rem )) {
  .headphoness__button {
    padding-right: clamp( 2.8125rem , 1.7578302961rem  +  5.2733485194vw , 5.70625rem );
  }
}

@supports not (padding-right: clamp( 2.8125rem , 1.7578302961rem  +  5.2733485194vw , 5.70625rem )) {
  .headphoness__button {
    padding-right: calc(2.8125rem + 2.89375 * (100vw - 20rem) / 54.875);
  }
}

@supports (padding-left: clamp( 2.8125rem , 1.7578302961rem  +  5.2733485194vw , 5.70625rem )) {
  .headphoness__button {
    padding-left: clamp( 2.8125rem , 1.7578302961rem  +  5.2733485194vw , 5.70625rem );
  }
}

@supports not (padding-left: clamp( 2.8125rem , 1.7578302961rem  +  5.2733485194vw , 5.70625rem )) {
  .headphoness__button {
    padding-left: calc(2.8125rem + 2.89375 * (100vw - 20rem) / 54.875);
  }
}

@supports (font-size: clamp( 0.9375rem , 0.7324886105rem  +  1.0250569476vw , 1.5rem )) {
  .headphoness__button {
    font-size: clamp( 0.9375rem , 0.7324886105rem  +  1.0250569476vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.7324886105rem  +  1.0250569476vw , 1.5rem )) {
  .headphoness__button {
    font-size: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__button:hover {
  -webkit-box-shadow: 0px 23px 47px rgba(145, 146, 126, 0.37);
          box-shadow: 0px 23px 47px rgba(145, 146, 126, 0.37);
  -webkit-transform: translate(0, -6px);
      -ms-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

.headphoness__button:active {
  background: -o-linear-gradient(182.78deg, #717262 -3.79%, #acad97 98.37%);
  background: linear-gradient(267.22deg, #717262 -3.79%, #acad97 98.37%);
}

.headphoness__button-like {
  display: inline-block;
  text-align: center;
  padding: 1.68125rem 2.925rem 1.68125rem 2.925rem;
  border: 1px solid #606153;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36.5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (padding-top: clamp( 1.0625rem , 0.8369874715rem  +  1.1275626424vw , 1.68125rem )) {
  .headphoness__button-like {
    padding-top: clamp( 1.0625rem , 0.8369874715rem  +  1.1275626424vw , 1.68125rem );
  }
}

@supports not (padding-top: clamp( 1.0625rem , 0.8369874715rem  +  1.1275626424vw , 1.68125rem )) {
  .headphoness__button-like {
    padding-top: calc(1.0625rem + 0.61875 * (100vw - 20rem) / 54.875);
  }
}

@supports (padding-bottom: clamp( 1.0625rem , 0.8369874715rem  +  1.1275626424vw , 1.68125rem )) {
  .headphoness__button-like {
    padding-bottom: clamp( 1.0625rem , 0.8369874715rem  +  1.1275626424vw , 1.68125rem );
  }
}

@supports not (padding-bottom: clamp( 1.0625rem , 0.8369874715rem  +  1.1275626424vw , 1.68125rem )) {
  .headphoness__button-like {
    padding-bottom: calc(1.0625rem + 0.61875 * (100vw - 20rem) / 54.875);
  }
}

@supports (font-size: clamp( 0.875rem , 0.8157744875rem  +  0.2961275626vw , 1.0375rem )) {
  .headphoness__button-like::before {
    font-size: clamp( 0.875rem , 0.8157744875rem  +  0.2961275626vw , 1.0375rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8157744875rem  +  0.2961275626vw , 1.0375rem )) {
  .headphoness__button-like::before {
    font-size: calc(0.875rem + 0.1625 * (100vw - 20rem) / 54.875);
  }
}

.headphoness__button-like:hover {
  background: -o-linear-gradient(182.78deg, #606153 -3.79%, #9A9B86 98.37%);
  background: linear-gradient(267.22deg, #606153 -3.79%, #9A9B86 98.37%);
  -webkit-box-shadow: 0px 0px 30px rgba(148, 149, 129, 0.5);
          box-shadow: 0px 0px 30px rgba(148, 149, 129, 0.5);
}

.headphoness__button-like:active {
  background: -o-linear-gradient(182.78deg, #717262 -3.79%, #acad97 98.37%);
  background: linear-gradient(267.22deg, #717262 -3.79%, #acad97 98.37%);
}

.headphoness ._active {
  background: -o-linear-gradient(182.78deg, #606153 -3.79%, #9A9B86 98.37%);
  background: linear-gradient(267.22deg, #606153 -3.79%, #9A9B86 98.37%);
}

.headphoness ._active::before {
  color: #E0E3C6;
}

.headphoness ._active:active {
  background: -o-linear-gradient(182.78deg, #717262 -3.79%, #acad97 98.37%);
  background: linear-gradient(267.22deg, #717262 -3.79%, #acad97 98.37%);
}

.headphoness__bottom-line {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
  position: relative;
}

.headphoness__label {
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 87%;
  -webkit-transition: text-shadow 0.3s ease 0s;
  -o-transition: text-shadow 0.3s ease 0s;
  transition: text-shadow 0.3s ease 0s;
}

.headphoness__label:hover {
  text-shadow: 0px 0px 20px #FFFFFF;
}

.headphoness__loader {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: 0;
  z-index: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 3px solid rgb(35, 34, 34);
  border-radius: 50%;
  border-top: 3px solid #fff;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.65s linear infinite;
          animation: spin 0.65s linear infinite;
}

.loaded .headphoness__loader {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.headphoness__video {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 198px;
          flex: 0 1 198px;
  min-height: 119px;
  padding: 0 0 10.2% 0;
  background-color: #FFFFFF;
  border-radius: 15px;
  -webkit-transition: border-radius 0.3s ease 0s;
  -o-transition: border-radius 0.3s ease 0s;
  transition: border-radius 0.3s ease 0s;
}

.headphoness__video:hover {
  border-radius: 57px;
}

.no-webp .headphoness__video:hover::before{
  background: #fff url("../img/main/video-background.png") center/cover no-repeat; }

.headphoness__video:hover::before {
  border-radius: 57px;
}

.headphoness__video:hover::after {
  -webkit-filter: drop-shadow(0px 14px 13px rgba(0, 0, 0, 0.56));
          filter: drop-shadow(0px 14px 13px rgba(0, 0, 0, 0.56));
}

.no-webp .headphoness__video::before{
  background: rgba(0, 0, 0, 0.5) url("../img/main/video-background.png") center/cover no-repeat; }

.headphoness__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.5) inset;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.headphoness__video::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: -o-linear-gradient(93.37deg, #676858 -7.08%, #EFF0D4 -7.08%, #7F816A 105.88%);
  background: linear-gradient(356.63deg, #676858 -7.08%, #EFF0D4 -7.08%, #7F816A 105.88%);
  -webkit-box-shadow: 0px 0px 20px #CDCEB5;
          box-shadow: 0px 0px 20px #CDCEB5;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-filter 0.3s ease 0s;
  transition: -webkit-filter 0.3s ease 0s;
  -o-transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s;
  transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
}

.headphoness__video iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
}

.headphoness__video ._active {
  display: block;
}

.headphoness ._icon-treangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.625rem;
  z-index: 5;
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header__links {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background: -o-linear-gradient(298.33deg, #373737 12.28%, #060606 86.6%);
    background: linear-gradient(151.67deg, #373737 12.28%, #060606 86.6%);
    padding-bottom: 1.875rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    text-align: left;
  }

@supports (padding-top: clamp( 7.5rem , 6.8166287016rem  +  3.416856492vw , 9.375rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 6.8166287016rem  +  3.416856492vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 6.8166287016rem  +  3.416856492vw , 9.375rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 1.875 * (100vw - 20rem) / 54.875);
    }
}

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 5;
    width: 100%;
    top: -100%;
    left: 0;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    background: -o-linear-gradient(182.78deg, #606153 -3.79%, #9A9B86 98.37%);
    background: linear-gradient(267.22deg, #606153 -3.79%, #9A9B86 98.37%);
  }

@supports (min-height: clamp( 5rem , 3.9521640091rem  +  5.2391799544vw , 7.875rem )) {
    .menu__body::before {
      min-height: clamp( 5rem , 3.9521640091rem  +  5.2391799544vw , 7.875rem );
    }
}

@supports not (min-height: clamp( 5rem , 3.9521640091rem  +  5.2391799544vw , 7.875rem )) {
    .menu__body::before {
      min-height: calc(5rem + 2.875 * (100vw - 20rem) / 54.875);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.125rem;
  }

  .menu__list:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .menu__link {
    font-size: 1.75rem;
  }

  .menu-open .links-header__like {
    opacity: 0.5;
  }

  .links-header ._active {
    opacity: 1;
  }

  .menu-open .links-header__bag {
    opacity: 0.5;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.40625rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background: -o-linear-gradient(182.78deg, #606153 30%, #9A9B86 100%);
    background: linear-gradient(267.22deg, #606153 30%, #9A9B86 100%);
    border-radius: 5px;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background: #606153;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.09375rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.09375rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.09375rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .headphoness__decor-ibg {
    display: none;
  }

  .headphoness__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .headphoness__image-ibg {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px;
    min-height: 300px;
  }

  .headphoness__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .headphoness__bottom-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .headphoness__label {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 23px;
  }

  .headphoness__loader {
    display: none;
  }

  .headphoness__video {
    background: -o-linear-gradient(182.78deg, #606153 -3.79%, #9A9B86 98.37%);
    background: linear-gradient(267.22deg, #606153 -3.79%, #9A9B86 98.37%);
  }

  .no-webp .headphoness__video::before{
    background: transparent url("../img/main/video-background.png") center/cover no-repeat; }

  .headphoness__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .headphoness__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .headphoness__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
}

.webp .headphoness__video:hover::before{ background: #fff url(../img/main/video-background.webp) center/cover no-repeat; }

.webp .headphoness__video::before{ background: rgba(0, 0, 0, 0.5) url(../img/main/video-background.webp) center/cover no-repeat; }

@media (max-width: 47.99875em){

  .webp .headphoness__video::before{ background: transparent url(../img/main/video-background.webp) center/cover no-repeat; }
}